{% extends 'base.html' %}

{%block titulo%}Dashbord de {{user}} {%endblock%}

{% block 'conteudo' %}
<h1 class="mb-4"> Olá {{user.first_name}} {{user.last_name}}</h1>
{% include 'parciais/_message.html' %}
<p>
    o seu usuário é {{user}}
</p>

<div class="container">
    <form action="{%url 'dashboard'%}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="table">
            {{ form }}
            <tr>
                <td colspan="2">
                      <button type="submit" class="btn btn-primary">Enviar</button>
                </td>
            </tr>
        </table>
    </form>
</div>

{% endblock %}
